[submodule "Libs/GRAPES"]
	path = Libs/GRAPES
	url = https://github.com/netCommonsEU/GRAPES.git
[submodule "Libs/mongoose"]
	path = Libs/mongoose
	url = https://github.com/netCommonsEU/mongoose.git
[submodule "Libs/pstreamer"]
	path = Libs/pstreamer
	url = https://github.com/netCommonsEU/PeerStreamer-engine.git
[submodule "Libs/janus-gateway"]
	path = Libs/janus-gateway
	url = https://github.com/netCommonsEU/janus-gateway.git
