[submodule "Libs/GRAPES"]
	path = Libs/GRAPES
	url = https://ans.disi.unitn.it/redmine/grapes.git
[submodule "Libs/mongoose"]
	path = Libs/mongoose
	url = https://ans.disi.unitn.it/redmine/mongoose.git
[submodule "Libs/pstreamer"]
	path = Libs/pstreamer
	url = https://ans.disi.unitn.it/redmine/pstreamer.git
[submodule "Libs/janus-gateway"]
	path = Libs/janus-gateway
	url = ssh://git@ans.disi.unitn.it:6022/janus-gateway.git
